{% extends 'content/base.html' %}

{% block titl %}
登录
{% endblock titl %}

{% block header %}
{% endblock header %}

{% block body %}
<div class="text-center logo1">
番茄博客
</div>
<!--登录表单-->
{# 不设置表单action时,提交表单时,会向浏览器地址栏中的地址提交数据 #}
<form class="container" method="post">
{% csrf_token %}
  <div class="form-group col-sm-7 form-group-lg">
    <label for="exampleInputPassword1">用户名</label>
    <input type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1" name="username" value="{{ username }}">
  </div>

  <div class="form-group col-sm-7 form-group-lg">
    <label for="exampleInputPassword1">密 码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密 码" name="password">
  </div>

  <div class="checkbox col-sm-7 form-group-lg">
    <label>
      <input type="checkbox" name="remember" {{ checked }}> 记住用户名
    </label>
  </div>

  <div class="col-sm-7 form-group-lg">
    <button type="submit" class="btn btn-default btn-primary">登 录</button>
    <a href="{% url 'user:register' %}" class="btn btn-default role="button">去注册</a>
  </div>
</form>
<div class="col-sm-7 form-group-lg">
    <p style="color: red; font-size: 16px">
        {{ errmsg }}
    </p>
</div>

{% endblock body %}

{% block weibu %}
<div class="container-fluid company2">
    <footer>
        <p>Design by <a href="{% url 'content:index' %}" target="_parent">鲁林个人博客</a> </p>
        <p>备案号：<a href="/">蜀ICP备11002373号-1</a></p>
    </footer>
</div>
{% endblock weibu %}

